/* BOX-GREEN CSS */

/*Photo*/
#boxPhoto{
	background-image:url(../../img/avatar/small/andrea-marchetti.jpg);
}

#boxPhoto h1,
#boxPhoto h2,
#boxPhoto h3,
#boxPhoto h4,
#boxPhoto h5,
#boxPhoto h6,
#boxPhoto p,
#boxPhoto a,
#boxPhoto li{
	color:#FFF;
}

#boxPhoto a:hover{
	color:#AAA;
}

@media (max-width: 991px) {
  #boxPhoto{
	background-image:url(../../img/avatar/medium/andrea-marchetti.jpg);
	}
}

/*Lime*/
#box1{
	background-color:#9F3;
}

#box1 h1,
#box1 h2,
#box1 h3,
#box1 h4,
#box1 h5,
#box1 h6,
#box1 p,
#box1 a,
#box1 li{
	color:#222;
}

#box1 a:hover{
	color:#F00;
}

/*Dark green*/
#box2{
	background-color:#0C9;
}

#box2 h1,
#box2 h2,
#box2 h3,
#box2 h4,
#box2 h5,
#box2 h6,
#box2 p,
#box2 a,
#box2 li{
	color:#FFF;
}

#box2 a:hover{
	color:#F00;
}

/*Very Light green*/
#box3{
	background-color:#C69;
}

#box3 h1,
#box3 h2,
#box3 h3,
#box3 h4,
#box3 h5,
#box3 h6,
#box3 p,
#box3 a,
#box3 li{
	color:#000;
}

#box3 a:hover{
	color:#F00;
}

/*Light green*/
#box4{
	background-color:#36F;
}

#box4 h1,
#box4 h2,
#box4 h3,
#box4 h4,
#box4 h5,
#box4 h6,
#box4 p,
#box4 a,
#box4 li{
	color:#FFF;
}

#box4 a:hover{
	color:#F00;
}

/*Forest*/
#box5{
	background-color:#C60;
}

#box5 h1,
#box5 h2,
#box5 h3,
#box5 h4,
#box5 h5,
#box5 h6,
#box5 p,
#box5 a,
#box5 li{
	color:#FFF;
}

#box5 a:hover{
	color:#F00;
}

/*Army*/
#box6{
	background-color:#FFF;
}

#box6 h1,
#box6 h2,
#box6 h3,
#box6 h4,
#box6 h5,
#box6 h6,
#box6 p,
#box6 a,
#box6 li{
	color:#222;
}

#box6 a:hover{
	color:#000;
}

/*Too green*/
#box7{
	background-color:#A22;
}

#box7 h1,
#box7 h2,
#box7 h3,
#box7 h4,
#box7 h5,
#box7 h6,
#box7 p,
#box7 a,
#box7 li{
	color:#FFF;
}

#box7 a:hover{
	color:#FFF;
}

/*Skills*/
.ul-skill{

}

.ul-skill li{
	display: inline-table;
	background-color: rgba(255,255,255,0.8);
	color:#000;
	font-size:14px;
	border-radius:5px;
	padding:8px;
	margin-bottom:8px;
	margin-right:3px;
}

.ul-skill li:hover{
	/*box-shadow:3px 3px 5px 0px #222;*/
	background-color: rgba(255,255,255,1);
	cursor:help;
}

/*Icons*/
.social-icon{
	font-size:50px;
	text-align:center;
	margin-top:20px;
	border-bottom:solid 3px;
	border-color:transparent;
}

.social-icon:hover{
	border-color:#000;
}

.cv-icon{
	font-size:40px;
	margin-top:20px;
}
