/* Global Styles */

html, body{
	background-color:#222;
}

h1, h2, h3, h4, h5, h6{
	color:#000;
}

p{
	color:#000;
	padding-left:15px;
}

/*Info displayers*/
.info-box{
	padding-bottom:20px;
	padding-right:10px;
	padding-left:10px;
	padding-right:10px;
}

.info-displayer{
	height:300px;
	box-shadow:5px 5px 10px 2px #000;
	padding-top:1px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	background-color:#FFF;
	color:#000;
}

/*Box height modifiers*/
.height-big{
	min-height: 600px;
}

.height-mid{
	min-height: 400px;
}

.height-small{
	min-height: 200px;
}

.height-smaller{
	min-height: 100px;
}

@media (max-width: 991px) {	
  .info-box{
  	min-width:340px;
	min-height:200px;
  }
  
  .info-displayer{
  	min-height:200px;
  }
  
  .height-big{
	min-height: 800px;
  }
  
   .height-big p{
	   font-size:12px;
  }
}

/*Navbar setting*/
.navbar-inverse{
	border:none;
}

.navbar-nav{
	font-size:20px;
}

/*Color selector*/
.selector li{
	display:inline;
	color:#FFF;
	font-size:14px;
	margin-right:5px;
}

.selector a li:hover{
	text-decoration:underline;
}

.evidence{
	font-size:20px;
}

